Day 3/n8n/Lab 8_0 Simple Google Gemini Chatbot.json
{
  "name": "Lab 0 Simple Google Gemini Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "75502dd5-bd3a-4979-9263-069775f3c8e7",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "webhookId": "4e430b7e-da79-46be-99f0-189ab2f59f83"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful AI assistant powered by Google Gemini. Provide clear, accurate, and friendly responses to user questions."
        }
      },
      "id": "2d83aae1-62d9-43bb-b6b2-84f89ba27228",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "d4d7aded-d138-48ef-94c3-967646b9c23c",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "h0cs8PXnvL3qSRRt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "1099f367-2f73-4af4-bbfa-75e88898200a",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8c3931c7-085f-4ce3-a429-ee4645a4bf5e",
  "meta": {
    "instanceId": "a3323f744429ac0199e12cec7f3103e8d63ab150a84554b12269bf05369baf38"
  },
  "id": "NhsPqjdfV5dbC1K77nTpp",
  "tags": []
}